<p>Select player types to play this game:</p>
  <form method="post" action="get_players">  
    <p>Player 1 (X):
      <select type="text" name="p1_type"> 
        <option value="Human_player">Human</option>
        <option value="Random_player">Easy</option>
        <option value="Sequential_player">Medium</option>
        <option value="Unbeatable_player_player">Hard</option>
      </select>
    </p>
    <p>Player 2 (O):
      <select type="text" name="p2_type"> 
        <option value="Human_player">Human</option>
        <option value="Random_player">Easy</option>
        <option value="Sequential_player">Medium</option>
        <option value="Unbeatable_player_player">Hard</option>
      </select>
    </p>
    <input type="submit" value="Submit"> 
  </form>
</div>